.detailed-car-image {
   height: 160px;
   width: 250px;
}
.pointer{
   cursor: pointer;
}
.phone-block{
   height: 35px;
}
.modal{
   display: block;
}


/*Animations*/

.phone-enter-active, .phone-leave-active{
   transition: all .5s;
}

.phone-enter, .phone-leave-to {
   transform: translateX(50px);
   opacity: 0;
}

.modal-enter-active, .modal-leave-active{
   transition: all .5s;
}

.modal-enter, .modal-leave-to {
   transform: translateY(-100px);
}

.fade-enter-active {
   animation: .75s fade forwards; 
}
.fade-leave-active {
   animation: .75s fade reverse; 
}

.fade-enter, .fade-leave-to {
   opacity: 0;
}

@keyframes fade {
   from {
      opacity: 0;
   }
   to {
      opacity: .5;

   }
}