<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>VueJS</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
   <link rel="stylesheet" href="app.css">
</head>

<body>
   
   <div class="container pt-5" id="app"> 
      <div class="row mb-3">
         <h1>Cars application</h1>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="form-group">
               <label for="search"> Find your car </label>
               <input 
                  type="text" 
                  class="form-control" 
                  id="search" 
                  placeholder="name, model ...."
                  v-model="search"
                  >
                  {{ search }}
            </div>
            <hr>
            <ul class="list-group">
               <li 
                  v-for="(car, index) of filteredCars" 
                  class="list-group-item list-group-item-action pointer"
                  @click="selectCar(index)"
                  :class="{'active': selectCarIndex === index}"
                  >
                  {{ car.name }} - {{ car.model }}
               </li>
            </ul>
         </div>
         <div class="col-md-8 pt-3">
            <div class="row">
               <div class="col-md-5">
                  <h2>{{ car.name }}</h2>
                  <img 
                     :src="car.image" 
                     :alt="car.name" 
                     class="rounded detailed-car-image">
               </div>
               <div class="col-md-7 pt-2">
                  <h5>Car details</h5>
                  <ul>
                     <li>Model - <strong>{{ car.model }}</strong></li>
                     <li>Year - <strong>{{ car.year }}</strong></li>
                     <li>Owner - <strong>{{ car.owner }}</strong></li>
                  </ul>
                  <div class="phone-block">
                     <transition name="phone">
                           <p v-if="phoneVisibility">{{ car.phone }}</p>
                     </transition>
                  </div>
                  <button 
                     class="btn btn-outline-success mr-3" 
                     @click="phoneVisibility = !phoneVisibility"
                     v-text="phoneBtnText"
                  >                     
                  </button>
                  <button 
                     class="btn btn-primary"
                     @click="modalVisibility = true"
                  >
                     Buy
                  </button>
               </div>
            </div>
         </div>         
      </div>
      <div class="row pt-4" v-if="logs.length !== 0">
            <div class="col-md-12">
               <ul class="list-group">
                  <li 
                     v-for="log of logs"
                     class="list-group-item "
                     :class="{
                        'list-group-item-secondary' : log.type === 'cnl',
                        'list-group-item-success' : log.type === 'ok',
                     }"
                  >
                     {{log.text}} {{log.date | date}}
                  </li>                  
               </ul>
            </div>
         </div>
         <transition name="modal">
            <div class="modal fade show" v-if="modalVisibility" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Do you want to buy this car?</h5>
                  <button 
                     type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     @click="modalVisibility = false"
                     >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Current car-<strong>{{car.name}}</strong></p>
                  <ul>
                     <li>Model - <strong>{{ car.model }}</strong></li>
                     <li>Year - <strong>{{ car.year }}</strong></li>
                     <li>Owner - <strong>{{ car.owner }}</strong></li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button 
                     type="button" 
                     class="btn btn-primary"
                     @click="newOrder"
                  >
                     Buy
                  </button>
                  <button 
                  type="button" 
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  @click="cancelOrder"
                  >
                     Cancel
                  </button>
                  
                </div>
              </div>
            </div>
            </div>
         </transition>
         <transition name="fade">
            <div class="modal-backdrop fade show" v-if="modalVisibility"></div>
         </transition>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="app.js"></script>
</body>

</html>